# Renomeie este arquivo para .env e ajuste os valores

# String de conexão com o PostgreSQL
# Formato: postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL="postgresql://postgres:SUA_SENHA@localhost:5432/quadra_livre?schema=public"

# Porta em que o servidor Express irá rodar
PORT=3333

# Ambiente de execução
NODE_ENV=development
